<h1>Gérer les espèces</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!--tr>
            <td><%= species.name %></td>
            <td><%= species.slug %></td>
            <td>
                <= link_to "Editer" [:edit, :admin, species], class: "btn btn.primary" %>
                <= link_to "Supprimer" [:admin, species], class: "btn btn.danger", data: {method: :delete, confirm: "Are you sur?"} %>
            </td>
        </tr-->
    </tbody>
</table>